@import url('https://fonts.googleapis.com/css2?family=Gaegu&family=Gochi+Hand&display=swap');


:root {
    --bg: #F5EBD4;
    --brown: #AA7D5A;
    --light-blue: #72B8C8;
    --dark-blue: #5A92C8;
    --red: #C04630;
    --orange: #F3B266;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* font-family: "Gaegu", sans-serif; */
    font-family: "Gochi Hand", cursive;
    letter-spacing: 3px;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background: url('./assets/bg4.png');
    background-size: contain;
    background-repeat: repeat;
    background-color: var(--bg);
}

.sticker-effect {
    filter: 
        drop-shadow(14px 14px 0px #fff)
        drop-shadow(-14px -14px 0px #fff)
        drop-shadow(14px -14px 0px #fff)
        drop-shadow(-14px 14px 0px #fff)
        drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.2));
    transform: scale(0.3);
    transform-origin: 0 0;
    /* margin: -25%; */
    /* zoom: 0.3; */
    /* background-color: red; */
}

.draggable {
    position: absolute;
    cursor: grab;
    user-select: none;
}

.draggable:active {
    cursor: grabbing;
}








header {
    width: 90%;
    height: 4rem;
    position: sticky;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 0 1.75rem;
    background-color: var(--dark-blue);
    border-radius: 12px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    height: 100%;
    /* width: ; */
}

header .logo img {
    height: 100%;
    width: 100%;
}


header ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 1.75rem;
    color: var(--bg);
    font-weight: 600;
}

header ul a {
    text-decoration: none;
    color: inherit;
    font-size: 1.4rem;

}

header ul a button {
    outline: none;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    font-size: 1.2rem;
    background-color: var(--red);
    color: var(--bg);
}