
:root {
    --bg: #F5EBD4;
    --brown: #AA7D5A;
    --light-blue: #72B8C8;
    --dark-blue: #5A92C8;
    --red: #C04630;
    --orange: #F3B266;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('./assets/bg4.png');
    background-size: contain;
    background-repeat: repeat;
    background-color: var(--bg);
}

.sticker-effect {
    filter: 
        drop-shadow(14px 14px 0px #fff)
        drop-shadow(-14px -14px 0px #fff)
        drop-shadow(14px -14px 0px #fff)
        drop-shadow(-14px 14px 0px #fff)
        drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.2));
    transform: scale(0.3);
    /* background-color: red; */
}